*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 30px 60px;
    width: 100%;
}
.header-btn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
}
.netflix-logo{
    font-size: 36px;
    color: #e50914;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.img-header{
    background:linear-gradient(rgba(0, 0, 0, 0.651),rgba(0, 0, 0, 0.651)), url(./images/netflix-bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
/* styling the header content */
.header-content{
    position: absolute;
    top:35%;
    left:25%;
    color: #fff;
}
 h1{
    font-size: 60px;
    text-align: center;
}
.header-content p{
    margin: 20px 0px;
    font-size: 30px;
    text-align: center;
}
.header-content small{
    font-size: 20px;
    /* margin-top: 35px; */
}
.input-name{
    margin-top: 25px;
}
.header-content input{
    padding: 14px 8px;
    width: 450px;
    font-size: 20px;
}
.header-content button{
    padding: 13px 45px ;
    background-color: #e50914;
    color: #fff;
    font-size: 23px;
    border: none;
}